*.gz
*.pdf
.DS_Store
poetry.lock
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.blg
*.bbl
*.pyc
*.snm
*.nav
data/processed/SAIS_train_tabularised.csv
data/processed/SAIS_dev_tabularised.csv
data/processed/SAIS_test_tabularised.csv
data/proprietary/*
